#map {
  height: 70%;
  width: 50%;
  float: left;
  /* display: inline-block; */
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

input {
  font-size: 20px;
}

.divInput {
  display: block;
  width: 75%;
  left: 0px;
  position: absolute;
  top: 70%;
}

/* .divImg {
  float: left;
} */

p {
    font-weight: bold;
}
